* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Brygada 1918", serif;
}

.navbar {
    font-size: 23px;
    padding: 30px 120px;
    background-color: #9f0102;
    color: white;
}

.container-fluid .navbar-brand {
    font-weight: bold;
    font-size: 30px;
    /* margin-left: 40px; */
}

.nav-item {
    color: white;
    /* border: 1px solid black; */
    padding: 3px 12px;
    border-radius: 50px;
}

.navbar-nav a {
    color: white;
    font-weight: bold;
}

.navbar-nav a:hover {
    color: #e9c46a;
}

.collapse button {
    background-color: rgb(233, 196, 106);
    padding: 10px 20px;
    color: white;
    margin-right: 40px;
    font-size: 24px;
    border: none;
    border-radius: 40px;
}

/* Header */
.hero {
    background-image: url("./Pepper Soup King Images/banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
    padding: 30px;
}


#card-content {
    background-color: rgba(0, 0, 0, 0.573);
    backdrop-filter: blur(4px);
    color: white;
    border-radius: 40px;
    padding: 60px;
    max-width: 90% !important;
    /* max-width: 50% !important; */
}

#card-content h1 {
    font-size: 70px;
    font-weight: bold;
}

#card-content p {
    font-size: 20px;
    line-height: 35px;
}

#card-content button {
    margin-top: 20px;
    background-color: rgb(233, 196, 106);
    color: rgb(34, 10, 6);
    font-weight: bold;
    border: none;
    border-radius: 25px;
    width: 100%;
    padding: 15px;
    font-size: 20px;
}

#card-content button:hover{
    transition: 0.5s;
    scale: 1.03;
}

.card-img-top {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.card-body {
    background-color: rgb(34, 10, 6);
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;

}

.card-body:hover {
    transition: 0.5s;
    scale: 1.03;
}


.card-text {
    color: white;
    font-size: 23px;
    padding-top: 7px;
}

.card-body button {
    margin-top: 20px;
    background-color: rgb(233, 196, 106);
    color: #220a06;
    border: none;
    text-align: center;
    border-radius: 25px;
    padding: 20px 10px;
    width: 100%;
    font-size: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-body button:hover {
    background-color: antiquewhite;
    color: #220a06;
    transition: 0.5s;
    scale: 1.1;
}

.our-story {
    margin-top: 100px;
    margin-bottom: 50px;
    background-color: #e9c46a;
    display: flex;
    justify-content: space-between;
    padding: 48px 48px;
    gap: 15px;
}

.our-story button {
    background-color: #220a06;
}

.our-story button:hover {
    background-color: #e76f51;
}

.our-story img {
    width: 55%;
}

.image-speak {
    padding: 50px 80px;
    display: flex;
    flex-wrap: wrap;
}


@media screen and (max-width:768px) {
    .hero {
        justify-content: center;
    }

    .container-fluid .navbar-brand {
        font-weight: bold;
        font-size: 20px;
    }

    .navbar-brand img {
        width: 30px;
    }

    #card-content {
        max-width: 50%;
        padding: 32px;
    }

    #card-content h1 {
        font-size: 48px;
    }

    #card-content p {
        font-size: 19px;
    }

    .card-body button {
        font-size: 15px;
        padding: 20px 130px;
    }

    .our-story {
        display: block;
        gap: 40px;
    }

    .our-story img {
        width: 100%;
        margin-top: 25px;
    }

    .image-speak {
        padding: 20px 20px;
    }
}

@media(min-width:768px) and (max-width:989px) {
    .card-body button {
        font-size: 15px;
        padding: 20px 60px;
    }
}

@media (min-width:990px) and (max-width:1080px) {
    .nav-item {
        padding: 3px 12px;
        border-radius: 30px;
        font-size: 20px;
    }

    .collapse button {
        padding: 10px;
        color: white;
        margin-right: 10px;
        font-size: 24px;
        border: none;
        border-radius: 40px;
    }

    .card-body button {
        font-size: 15px;
        padding: 20px 30px;
    }


}

@media (min-width:1081px) and (max-width:2200px) {
    #card-content {
        max-width: 50% !important;
    }
}